$header_height: 50px;
$page_padding_y: 40px;

.poke-detail {
  width: 100%;
  min-height: 100vh;
  padding: $page_padding_y 30px;
  box-sizing: border-box;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $header_height;

    .title {
      font-size: 40px;
      flex-grow: 1;
    }
  }

  .content {
    margin-top: 24px;
  }
}