<div class="poke-detail">
  <div class="header">
    <p class="title">Details of Pokemon "{{ pokemonName }}"</p>
    <button class="btn btn-success mr-2" (click)="openModal(confirmModal, 'caughtlist')">Add to Caught list</button>
    <button class="btn btn-success" (click)="openModal(confirmModal, 'wishlist')">Add to Wishlist</button>
  </div>

  <div *ngIf="pokemonInfo" class="content">
    <div class="mb-3">
      <p class="label mb-2">Name:</p>
      <p class="description">{{ pokemonInfo.name }}</p>
    </div>

    <div class="mb-3">
      <p class="label mb-2">Base experience:</p>
      <p class="description">{{ pokemonInfo.base_experience }}</p>
    </div>

    <div class="mb-3">
      <p class="label mb-2">Height:</p>
      <p class="description">{{ pokemonInfo.height }}</p>
    </div>

    <div class="mb-3">
      <p class="label mb-2">Weight:</p>
      <p class="description">{{ pokemonInfo.weight }}</p>
    </div>

    <div class="mb-3">
      <p class="label mb-3">Moves:</p>
      <ag-grid-angular
        class="ag-theme-alpine list-table"
        [gridOptions]="moveGridOptions"
        [modules]="modules"
      >
      </ag-grid-angular>
    </div>

    <div class="mb-3">
      <p class="label mb-3">Stats:</p>
      <ag-grid-angular
        class="ag-theme-alpine list-table"
        [gridOptions]="statGridOptions"
        [modules]="modules"
      >
      </ag-grid-angular>
    </div>
  </div>
</div>

<!-- Confirm modal -->
<ng-template #confirmModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ modalTitle }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{ modalContent }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="c('Cancel')">Cancel</button>
    <button type="button" ngbAutofocus class="btn btn-danger" (click)="c('Okay')">Okay</button>
  </div>
</ng-template>